header, footer {
  width: 100%;
  height: 80px;
  background: skyblue;
}

header h1 {
  line-height: 80px;
  color: black;
}
main {
  background: rgb(49, 143, 197);
  width: 100%;
  height: 800px;
}


.wrap input {
  display: flex;
}